body
  margin 0
  font-family 'Droid Sans Mono'

.half
  width 49%
  float left
  margin-right 2%
  &:nth-child(2n)
    margin-right 0

h1
  text-align center


// Forms
input
  &[type="email"]
  &[type="number"]
  &[type="search"]
  &[type="text"]
  &[type="tel"]
  &[type="url"]
  &[type="password"]
    appearance none


input
  &[type="email"]:focus
  &[type="number"]:focus
  &[type="search"]:focus
  &[type="text"]:focus
  &[type="tel"]:focus
  &[type="url"]:focus
  &[type="password"]:focus
    border 1px solid #009688
    outline 0
    width 100%

label
  margin-bottom 5px
  display block