* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1,
h4 {
  font-weight: 400;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 50px auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.half {
  width: 49%;
  float: left;
  margin-right: 2%;
}
.half:nth-child(2n) {
  margin-right: 0;
}
h1 {
  text-align: center;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  border: 1px solid #888;
  padding: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus {
  border: 1px solid #009688;
  outline: 0;
  width: 100%;
}
label {
  margin-bottom: 5px;
  display: block;
}
.error-block {
  width: 100%;
  float: left;
}
.error-block span {
  width: 100%;
  float: left;
  padding: 0 7px;
  color: #ef5350;
}
.submit input[type="submit"] {
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid #666;
  color: #666;
  position: absolute;
  bottom: -23px;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%);
}
.block {
  width: 96%;
  float: left;
  margin: 0 2%;
  border-radius: 4px;
  position: relative;
  padding: 20px 20px 40px 20px;
  border: 1px solid #666;
}
.block .title {
  position: absolute;
  background: #fff;
  font-size: 20px;
  left: 50px;
  top: -13px;
  padding: 0 20px;
}
